<div class="author-information">
  <p>Gentuim Angular Trainee/Junior Test Task | Author: Ilya Protsenko</p>
  <button class="black-btn" (click)="toggleModal()">Open modal</button>
</div>

<div class="modal-background" *ngIf="displayModal">
  Modal background
  <div class="modal-content">
    <div class="log-name-container">
      <h2 *ngIf="!editLog">{{ logValue || "Log name" }}</h2>
      <input
        type="text"
        class="log-name-input"
        *ngIf="editLog"
        [(ngModel)]="logValue"
        placeholder="Log name"
      />
      <div class="edit-icon-wrap" (click)="toggleEditLog()">
        <img
          src="assets/images/pencil-icon.png"
          alt="Edit pencil icon"
          *ngIf="!editLog"
        />
        <img
          src="assets/images/xmark-icon.png"
          alt="Close edit xmark icon"
          *ngIf="editLog"
        />
      </div>
    </div>

    <div class="app">
      <div class="app-section trip-information">
        <trip-information></trip-information>
      </div>
      <div class="app-section">
        <driver-information></driver-information>
      </div>
      <div class="app-section">
        <car-information></car-information>
      </div>
    </div>

    <div class="close-modal-icon" (click)="toggleModal()">
      <img src="assets/images/xmark-icon.png" alt="Close modal icon" />
    </div>
    <div class="modal-action">
      <span class="modal-actions-drafts">Drafts</span>
      <button class="black-btn" (click)="toggleModal()">
        Save to log book
      </button>
    </div>
  </div>
</div>
